<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.devts.board.mapper.BoardMapper">

	<select id="postList" parameterType="BoardDto" resultType="BoardDto">
		SELECT post_id, p.user_id as user_id, title, content, views, likes, p.created_at as created_at, u.email as email
		FROM posts as p LEFT JOIN users as u 
		ON p.user_id = u.user_id
		WHERE is_deleted IS NULL
		ORDER BY created_at DESC
	</select>
	
	<select id="getPostListWithPaging" parameterType="java.util.HashMap" resultType="BoardDto">
		SELECT p.post_id, p.user_id, p.title, p.content, p.views, p.likes, p.created_at, u.email as email
		FROM (
			SELECT * FROM posts
			WHERE
				is_deleted IS NULL
				<if test="searchType=='title'">AND title LIKE CONCAT('%', #{searchWord},'%')</if>
				<if test="searchType=='content'">AND content LIKE CONCAT('%', #{searchWord},'%')</if>
				<if test="searchType==''">AND 1 = 1</if>
		) AS p LEFT JOIN users AS u
		ON p.user_id = u.user_id
		ORDER BY p.created_at DESC
		LIMIT #{pageAmount} OFFSET #{startPostNum}
	</select>
	
	<select id="getPostTotalCnt" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(*) FROM posts
		WHERE
			is_deleted IS NULL
			<if test="searchType == 'title'.toString()">AND title LIKE CONCAT('%',#{serachWord},'%')</if>
			<if test="searchType == 'content'.toString()">AND content LIKE CONCAT('%',#{serachWord},'%')</if>
			<if test="searchType == ''.toString()">AND 1 = 1</if>
	</select>
	
	<select id="postView" parameterType="int" resultType="BoardDto">
		SELECT post_id, p.user_id as user_id, title, content, views, likes, updated_at, p.created_at as created_at, u.email as email
		FROM posts as p LEFT JOIN users as u 
		ON p.user_id = u.user_id
		WHERE post_id = #{post_id} AND is_deleted IS NULL
	</select>
	
	<insert id="postWrite" parameterType="BoardDto">
		INSERT INTO posts (user_id, title, content)
		VALUES (#{user_id}, #{title}, #{content})
	</insert>
	
	<update id="postDelete" parameterType="int">
		UPDATE posts SET is_deleted=now() WHERE post_id = #{post_id}
	</update>
	
	<update id="postUpdate" parameterType="BoardDto">
		UPDATE posts
		SET title = #{title},
			content = #{content},
			updated_at = now()
		WHERE post_id = #{post_id}
	</update>

	<update id="updatePostViews" parameterType="int">
		UPDATE posts SET views = views + 1 WHERE post_id = #{post_id}
	</update>	

</mapper>
